* {
    padding: 0;
    margin: 0;
  }
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #17331b;
    align-items: center;
    font-family: sans-serif;
}
.display{
    width: 100%;
    height: 80px;
    border: none;
    padding: 10px;
    font-size: 2rem;
    text-align: right;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    background-color: #ffffff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
button{
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: black;
    outline: 1px;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin: 10px;
    border-radius: 50%;
    background-position: center;
    background-color: rgb(255, 255, 255);
    transition: 0.8s;
}
button:hover {
    cursor: pointer;
}
button:active {
    background-color: #272727;
    background-size: 100%;
    transition: 0s;
  }
.rb{
    background-color: #ad0000 !important;
}
.rb:active {
    background-color: #c71b1b !important;
    background-size: 100%;
    transition: 0s;
}
.calculator{
    width: 300px;
    padding-bottom: 15px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.61);
}
.operator{
    background-color: #17331b;
    border: none;
    color: #fff;
}
.extend{
    background-color: #17331b;
    width: 42%;
    border-radius: 25px;
};